.app {
  width: 100%;
  max-width: 540px;
  margin: 50px auto;
  background-color: blueviolet;
  border-radius: 10px;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 32px;
  padding: 30px 0 20px;
}

.contents {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  min-height: 70vh;
}

.list-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.input-wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.input-add {
  padding: 12px 20px;
  /* border: 1px solid #ddd; */
  border: none;
  box-shadow: inset 0 0 0 1px #ddd;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f9f9f9;
  outline: none;
  flex: 1;
}

.input-add:focus {
  box-shadow: inset 0 0 0 2px blueviolet;
  background-color: #e7e7e7;
}

.btn {
  padding: 12px 20px;
  background-color: rgb(138, 44, 226);
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgba(138, 44, 226, .5);
  transition: 0.3s all ease;
}

.btn:hover {
  border: 1px solid #ddd;
}

.todo-list li {
  background-color: #f9f9f9;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid rgba(138, 44, 226, .1);
  font-size: 16px;
  position: relative;
}

.todo-list li:hover {
  background-color: rgb(240, 223, 255);
  border-color: rgba(138, 44, 226, .5);
  transition: 0.3s all ease;
}

.empty-list {
  text-align: center;
  color: #666;
  font-size: 18px;
  padding: 20px;
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #999;
  background: transparent;
  font-size: 18px;
}

/* has: 체크가 되어 있는 자식요소를 갖고있는 li */
.todo-list li:has(input:checked) {
  background-color: #666;
  /* text-decoration: line-through; */
}

.done-label {
  font-size: 13px;
  color: #fff;
}

.filter-wrap {
  display: flex;
  gap: 6px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 8px 12px;
  background-color: #fff;
  /* border: 2px solid #ddd; */
  border: none;
  box-shadow: inset 0 0 0 2px #ddd;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  transition: all 0.25s ease;
}

.filter-btn.active,
.filter-btn:hover {
  /* border: 1px solid #8a2ce2; */
  box-shadow: inset 0 0 0 2px #8a2ce2;
  color: #8a2ce2;
  font-weight: 600;
}

.edit-btn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #999;
  background: transparent;
  font-size: 16px;

}

.save-btn {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #b86cff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

.cancel-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ddd;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: #999;
}

.edit-input {
  width: calc(100% - 100px);
  padding: 8px 12px;
  border: 1px solid #b86cff;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}


.todo-list li input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  accent-color: #996ED3;
  vertical-align: middle;
}